*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    /* gap: 40px; */
    background-color: goldenrod;
}
.product-list {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.product_js{
    display: flex;
    width: 20vw;
    border: 2px solid black;
    gap: 30px;
}

.button-js{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    gap: 20px;
}
.button-js button{
    border: 2px solid black;
    text-decoration: none;
}

.cart{
 display: flex;
 background-color: white;
 justify-content: space-between;
 align-items: center;   
 padding: 7px 10px;
 border-radius: 3px;
 width: 80px;
}


.cart p{
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}


.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#root{
    width:60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: goldenrod;
    border-radius: 3px;
    height:40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid goldenrod;
    border-radius:5px ;
    padding: 15px;
    /* width: 100px; */
}

.img-box{
    display: flex;
}